<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stikk-ut.css')}}">
</head>
<body>
    <nav>
        <div id="link-container1">
            <a id="legg-inn-tur" href="/legg-inn.html">legg inn tur</a>
        </div>
        <div id="link-container2">
            <a id="stikk-ut" href="/">Stikk ut</a>
        </div>
        <div id="link-container3">
            <a id="se-innlegg" href="se-inlegg.html">se innlegg</a>
        </div>
    </nav>

    <div id="container">
        {% if StikkUtData %}
            {% for key, value in StikkUtData.items() %}
                <div>
                    <h3>{{ value.navn }}</h3>
                    <p>Sted: {{ value.sted }}</p>
                    <p>Tid: {{ value.tid }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No data available.</p>
        {% endif %}
    </div>
</body>
</html>