nav{
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    margin-left: -1%;
    margin-right: -1%;
    margin-top: 3%;
    height: 100px;
}

#legg-inn-tur{
    color: white;
}

#se-innlegg{
    color: black;
}

#stikk-ut{
    color: white;
}

a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

#link-container1,
#link-container2,
#link-container3 {
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: darkgreen; 
    height: 100px;
    width: 100%;
    margin-left: -2%;
    margin-right: -2%;
}

#link-container1 {
    background-color: darkgreen;
}

#link-container2 {
    background-color: lightgreen;
}

#link-container3 {
    background-color: darkgreen;
}