nav{
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    margin-left: -1%;
    margin-right: -1%;
    margin-top: 3%;
    height: 100px;
}

#legg-inn-tur{
    color: white;
}

#se-innlegg{
    color: white;
}

#stikk-ut{
    color: black;
}

#link-container1,
#link-container2,
#link-container3 {
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: darkgreen; 
    height: 100px;
    width: 100%;
    margin-left: -2%;
    margin-right: -2%;
}

#link-container1 {
    background-color: darkgreen;
}

#link-container2 {
    background-color: lightgreen;
}

#link-container3 {
    background-color: darkgreen;
}


a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}
#container {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        border-radius: 20%;
        width: 100%;
        height: 100%;
        margin: auto; 
        padding: 50px; 
        color: rgb(255, 255, 255);
        margin-top: 50px;
    }

    #container1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 0, 0);
        border-radius: 20%;
        width: 250px;
        height: 250px;
        margin: auto; 
        padding: 50px; 
        color: rgb(255, 255, 255);
        margin-top: 50px;
    }
img{
    height: 50px;
}